<div class="container">
  <div class="row inverz-row split-container">
    <div class="col-md-8 col-container">
      <div class="form-outline row search-container">
        <input type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue" (change)="onSearch()" />
      </div>
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-3 grid-container">
        <div class="col" *ngFor="let poke of pokemons">
          <app-poke-card [pokemon]="poke" [favorite]="isPokemonFavorite(poke)"></app-poke-card>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-container">
      <div class="poke-card">
        <div class="user-container">
          <div class="user-name" *ngIf="authService.user">
            {{authService.user.email}}
          </div>
        </div>
        <div class="favorites-container">
          <h2>Favorite pokemons</h2>
        </div>
      </div>
    </div>
  </div>
</div>